html {
    height: 100%;
}
body {
    min-height: 100%;
}
body, html {
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    position: relative;
}
div#content {
    min-height: 100%;
    padding-bottom: 2.4em;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
}

p.splash {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 2% 0;
}

ul.linkmenu {
    margin: 2em 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.linkmenu li {
    padding: 0;
    display: inline-block;
    border: 2px solid #6bbc4f ;
    border-radius: 5px;
    margin: 1% 0;
}
ul.linkmenu li:hover {
    background-color: #aae597;
}
ul.linkmenu a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 1em;
}

div.footer {
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #afafaf;
    font-size: 0.8em;
    padding: 1em 0em;
}
div.footer a {
    color: #afafaf;
}

.center {
    text-align: center;
}

span#mailat:after {
    content: '@';
}
span#maildot:after {
    content: '.';
}


