
$color-background: #f8f8f8;
$color-text-main: #000000;
$color-text-subtle: #afafaf;
$color-text-accent: #3d9145;
$color-link: #999999;
$color-primary: #6bbc4f;
$color-primary-light: #aae597;
$color-primary-dark: #407230;

